body {
    height: 100vh;
    margin: 0;
}

.webpage-header {
    height: 70px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 20%;
    position: relative;
    background-position-x: 4.5%;
    background-position-y: 2%;
}

.logo {
    width: 10%;
    padding-top: 70px;
    position: absolute;
    left: 5px;
    bottom: 8px;  
}

.text-header {
    margin: 5px;
}

h1 {
    margin-bottom: 0;
    font-size: 30px;
}

.author.date {
    font-size: 12px;
    color: gray;
    margin-top: 3px;
    margin-bottom: 20px;
}


.author-name {c
    olor: #2aade6;
}

.photo-description {
    font-size: 8px;
}

.giallo {
    background-color: yellow ;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    vertical-align: middle;
}

th {
    width: 25%;
    color: white;
}

td {
    width: 25%;
}

.t-50 {
    width: 50%;
}

.table-header {
    background-color: #20a9e5;
}

.table-body {
    background-color: #b1e5f2;
}

main {
    margin: 5px;
}

footer {
    margin: 5px;
    margin-top: 25px;
}

.tips {
    color: gray;
    font-size: 15px;
    font-weight: bold;

}

.footer-pic {
    display: block;
    margin-bottom: 10px;
}

.footer-container {
    position: relative;
    margin-top: 12px;
}

.footer-pic-text {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 23px;
    font-weight: bold;
}

